.help {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background-color: #e3f2fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .help h2 {
    color: #673AB7;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  .help p {
    font-family: 'Verdana', sans-serif;
    color: #555;
    line-height: 1.6;
    text-align: center;
  }
  